.post {
	margin: 0 auto;
	max-width: $post-width;

	h1, h2, h3 {
		position: relative;
	}

	h1 {
		margin-bottom: 0;
		position: relative;

		&::before {
			$width: 10px;
			border-left: $width solid;
			display: block;
			content: '';

			position: absolute;
			top: 0.24em;
			bottom: -100px;
			left: - ($gutter + $width);

			@media screen and (max-width: $breakpoint) {
				display: none;
			}
		}
	}

	h2 {
		border-bottom: 1px solid;
		margin-bottom: 0;
		padding-bottom: 8px;
	}

	h3 {
		border-top: 1px solid;
		margin-bottom: $gutter / 2;
		text-transform: uppercase;

		time {
			background: $light-gray;
			border: 1px solid;
			border-top: none;
			clear: both;
			float: left;
			margin-right: $gutter;
			padding: 5px 0;
			text-align: center;
			width: $header-offset - $gutter;
		}

		.date {
			display: block;
			font-size: 2em;
			margin-bottom: -0.15em;
		}
	}

	h2 + h3 {
		margin-top: 0;
		border-top: none;
	}

	.post__text {
		margin-left: $header-offset;
		margin-top: $gutter / 2;

		>:first-child {
			margin-top: 0;
		}

		@media screen and (max-width: 500px) {
			margin-left: 0;
		}

		&::before {
			border-bottom: 1px solid #ccc;
			display: block;
			font-size: 0.8em;
			margin-bottom: 0.5em;
			padding-bottom: 0.2em;
			text-align: right;

			@media screen and (max-width: 500px) {
				display: block;
				margin: 0 0 0 auto;
				width: 8em;
			}
		}

		&[data-author=michael]::before {
			content: 'Michael';
		}

		&[data-author=sunny]::before {
			content: 'Sunny';
		}
	}

	.post__image {
		margin: $gutter 0;
		margin-left: 50%;
		text-align: center;
		width: 80vw;

		position: relative;
		left: -40vw;

		img {
			max-height: 80vh;
			max-width: 80vw;
		}
	}
}