html {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

h1 {
	font-family: 'Lora', serif;
	font-size: 4em;
	font-weight: normal;
	margin: 0.1em 0;

	@media screen and (max-width: $breakpoint) {
		font-size: 3em;
	}
}

h2 {
	font-family: 'Marcellus SC', serif;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0.1em 0;
}

h3 {
	font-family: 'Marcellus SC', serif;
	font-weight: normal;
}

p, ul, ol {
	line-height: 1.6;
}