@import "settings";

html {
	margin: 0;
	padding: 2em 1em;

	@media screen and (max-width: $breakpoint) {
		padding-top: 1em;
	}
}

body {
	margin: 0;
	padding: 0;
}

@import "typography";
@import "components";